<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/matches.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="top-nav">
        <a href="{{ url_for('routes.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('routes.leaderboard') }}">Leaderboard</a>
        <a href="{{ url_for('routes.login') }}">Login</a>
        <a href="{{ url_for('routes.register') }}">Register</a>
    </div>
    <div class="content">
        <h1>Register</h1>
        <form method="POST" class="register-form">
            <input type="text" name="username" placeholder="Username" class="register-input" required>
            <input type="password" name="password" placeholder="Password" class="register-input" required>
            <button type="submit" class="register-button">Register</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <nav>
            <a href="{{ url_for('routes.login') }}">Already have an account? Login</a>
        </nav>
    </div>
    <div class="h-4 sm:h-5 lg:h-6 flex justify-center items-center gap-1 text-xs sm:text-sm lg:text-base">Powered by<!-- --> 
        <a target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline" href="https://www.thebluealliance.com/">The Blue Alliance</a>
    </div>
</body>
</html>